name: Examples

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, windows-latest, macos-latest]
        python-version: [2.7, 3.7]
        example:
          - "examples/zephyr-blink"
          - "examples/zephyr-cpp-synchronization"
          - "examples/zephyr-drivers-can"
          - "examples/zephyr-net-https-client"
          - "examples/zephyr-subsys-usb-hid-mouse"
        exclude:
          - {python-version: 2.7, example: "examples/zephyr-blink"}
          - {python-version: 2.7, example: "examples/zephyr-cpp-synchronization"}
          - {python-version: 2.7, example: "examples/zephyr-drivers-can"}
          - {python-version: 2.7, example: "examples/zephyr-net-https-client"}
          - {python-version: 2.7, example: "examples/zephyr-subsys-usb-hid-mouse"}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U https://github.com/platformio/platformio/archive/develop.zip
          platformio platform install file://.
      - name: Build examples
        run: |
          platformio run -d ${{ matrix.example }}
